<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
        <title>Index Page</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

</head>
<body>
{% if isLoggedIn %}
<h1>Welcome {{username }}</h1>
<form name="logout" action="{% url 'polls:logout_view' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Logout">
</form>
{% else %}
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>
