<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
        <title>Login Page</title>

</head>

<body>
        <h1> Login </h1>
        <div id = "content">
                <form name="login" action="{% url 'login:trylogin' %}" method="post">
                        {% csrf_token %}
			<span class="block">
                        Username: <input type="text" id="username" name="username" required />
                        Password: <input type="password" id="password" name = "password" required/>
                        <input type="submit" value="Login">
                        </span>
                </form>
        </div>
</body>
</html>

